$modal-content-background:#ffffff;

$btn-default-background:#ffffff;
$btn-default-border:#cccccc;
$btn-default-color:#333333;

$btn-primary-background:#337ab7;
$btn-primary-border:#2e6da4;
$btn-primary-color:#ffffff;

$btn-success-background:#5cb85c;
$btn-success-border:#4cae4c;
$btn-success-color:#ffffff;
